*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.poppins-thin-font {
  font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 87px 0;
}

nav h3{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 34px;
}

nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

#banner{
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 133px;
}

#banner .banner-detail{
    max-width: 582px;
}

.banner-detail h1{
    font-size: 52px;
    font-weight: bold;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-detail p{
    font-size: 16px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-detail button{
    background-color: #E02C6D;
    color: #fff;
    outline: none;
    border: none;
    height: 44px;
    width: 196px;
    border-radius: 41px;
    font-size: 16px;
    font-weight: bold;
}

#banner img{
    background: url(../images/camera-round-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* width: 440px; */
}

#sponsor{
    max-width: 70%;
    margin: 100px auto ;
    display: flex;
    justify-content: space-around;
    padding: 35px 62px;
}